[Unit]
Description=Hyprlaptop Listener
After=graphical-session.target

[Service]
ExecStart=hyprlaptop listen
Restart=on-failure
RestartSec=2

[Install]
WantedBy=graphical-session.target
